@page "/"

<PageTitle>Home</PageTitle>

<div class="profile-card" id="profile">
    <div class="profile-image-wrapper">
        <img src="hani.jpg" alt="Profile Image" class="profile-img" />
    </div>
    <h1 class="profile-name">Honey S. Brigoli</h1>
    <h1 class="profile-name">BSIT-2B</h1>
</div>

